@forward './base/reset';
@forward './base/typography';
@forward './base/breakpoints';
@forward './globals/variables';

body {
	font-family: var(--ff-regular);
	background-color: #f6edd7;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app {
	position: relative;
}
