@forward './base/reset';
@forward './base/typography';
@forward './base/breakpoints';
@forward './globals/variables';
@forward './globals/partials.scss';
body {
	font-family: var(--ff-regular);
	background-color: #f6edd7;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	scroll-behavior: smooth;
	scroll-padding: 100px;
}
#app {
	position: relative;
}
