$phone: 600px;
$tablet: 950px;
$desktop: 1000px;

@mixin phone {
	@media screen and (max-width:#{$phone}) {
		@content;
	}
}
@mixin tablet {
	@media screen and (max-width:#{$tablet}) {
		@content;
	}
}
@mixin desktop {
	@media screen and (min-width: #{$desktop}) {
		@content;
	}
}
