*,
*::before,
*::after {
	box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
	margin: 0;
	padding: 0;
	font: inherit;
}

/* dark mode user-agent-styles */
/* improves punctuation in supported browsers */
html {
	// color-scheme: dark light;
	hanging-punctuation: first last;
}

/* min body height */
body {
	min-height: 100svh;
	font-size: 16px;
	line-height: 1.2;
}

/* responsive images/videos */
img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

/* Improved heading in supported browsers */
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
	color: var(--clr-brown-300);
}

/* improve readability with max-width on paragraphs and lists */
/* prevent orphans in supported browsers */
p,
li,
a,
button {
	color: var(--clr-brown-300);
	text-wrap: pretty;
}

button {
	background-color: transparent;
	border: none;
}

button:hover {
	cursor: pointer;
}
