@font-face {
	font-family: 'MonaSans';
	src: url('../typeface/MonaSans-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'MonaSans-Bold';
	src: url('../typeface/MonaSans-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'MonaSans-Light';
	src: url('../typeface/MonaSans-Light.otf') format('opentype');
}

@font-face {
	font-family: 'MonaSans-Medium';
	src: url('../typeface/MonaSans-Medium.otf') format('opentype');
}

h1,
h2 {
	font-family: var(--ff-regular);
}

p,
a {
	font-family: var(--ff-light);
}

button {
	font-family: var(--ff-bold);
}
