@font-face {
	font-family: 'Satoshi';
	src: url('../typeface/Satoshi-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Satoshi-Bold';
	src: url('../typeface/Satoshi-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Satoshi-Light';
	src: url('../typeface/Satoshi-Light.otf') format('opentype');
}

@font-face {
	font-family: 'Satoshi-Medium';
	src: url('../typeface/Satoshi-Medium.otf') format('opentype');
}

h1,
h2 {
	font-family: var(--ff-medium);
}

p,
a {
	font-family: var(--ff-light);
}

button {
	font-family: var(--ff-bold);
}
