@font-face {
	font-family: 'Grotesk';
	src: url('../typeface/AndersonGrotesk.otf') format('opentype');
}

@font-face {
	font-family: 'Grotesk-Bold';
	src: url('../typeface/AndersonGrotesk-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Grotesk-Light';
	src: url('../typeface/AndersonGrotesk-Light.otf') format('opentype');
}

@font-face {
	font-family: 'Grotesk-Light-Oblique';
	src: url('../typeface/AndersonGrotesk-LightOblique.otf') format('opentype');
}
@font-face {
	font-family: 'Grotesk-Bold-Oblique';
	src: url('../typeface/AndersonGrotesk-BoldOblique.otf') format('opentype');
}
@font-face {
	font-family: 'Grotesk-Oblique';
	src: url('../typeface/AndersonGrotesk-Oblique.otf') format('opentype');
}
