section {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 95vh;
	padding: clamp(0.5rem, 2vw, 1.5rem);
}

section#projects,
section#about {
	height: auto;
	min-height: 90vh;
}
